.modalImage {
  display: flex;
  justify-content: center;
}

.result-text {
  display: block;
  line-height: 0.7;
  text-align: center;
}

.modalWinLose {
  font-size: 8rem;
  font-family: 'Circular Std';
  font-weight: 900;
  margin-top: -3.6rem;
  margin-left: -15.2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .modalWinLose {
    margin-top: 0;
    margin-left: 0;
    font-weight: 400;
    font-size: 5rem;
  }
}
