.kr-logo {
  display: flex;
  min-width: 35%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 40px;
}

.kr-logo > img {
  max-height: 70px;
}

.kr-bannerbar {
  z-index: 1;
  display: flex;
  position: relative;
  height: 64px;
  align-items: stretch;
  justify-content: space-between;
}

.kr-page-content {
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - var(--main-header-height));
  align-items: flex-start;
  width: 100%;
}

.kr-header-rightmenu {
  display: flex;
  min-width: 65%;
  align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  width: auto;
  justify-content: flex-end;
  padding-right: 2.5%;
}

.kr-header-rightmenu>div{
  margin-right: 2%;
}

.kr-rightnav {
  width: 80%;
}

.kr-rightfunction {
  display: flex;
  justify-content: center;
  height: 100%;
}

.kr-leftnav {
  height: 100%;
  background: #131722;
}

.kr-leftnav > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline-start: 0px;
}

.kr-leftnav > ul > li > a {
  display: flex;
  width: 130px;
  max-height: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.kr-leftnav > ul > li > a > svg {
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 22px;
  margin-bottom: 9px;
  fill: #fff;
}

.kr-leftnav > ul > li > a > span {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  padding-bottom: 5px;
}

.kr-wallet-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  position: relative;
  margin-left: 11px;
  margin-right: 11px;
}

.kr-wallet-top-practice {
  color: #ff7700;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.kr-wallet-inside {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.kr-wallet-inside > span:first-child {
  font-size: 12px;
}

.kr-wallet-top-ammount {
  font-size: 23px;
  font-weight: 500;
}

.kr-notification-center {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 3%;
}

.kr-notification-center-icon {
  position: relative;
}

.kr-heeader-btn-identity {
  display: block;
  margin-right: 10px;
}

.btn-vertify {
  background: #29c359;
  color: white;
  text-transform: uppercase;
}

.kr-dash-pan-action-btn-buy {
  background: #2bab3f;
  margin-right: 15px;
}

.kr-dash-pan-action-btn-buy:disabled {
  background: #C0C0C0;
  margin-right: 15px;
  border: #2bab3f 3px solid;
}

.kr-dash-pan-action-btn-sell {
  background: #da4830;
  /* margin-top: 20% !important */
}

.kr-dash-pan-action-btn-sell:disabled {
  background: #C0C0C0;
  border: #da4830 3px solid;
}

.kr-dash-pan-action-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-radius: 3px;
  color: #fff;
  height: 130px;
  width: 117px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  flex-direction: column;
  margin-top: 20%;
}

.kr-btn-functions {
  align-self: center;
  padding: 2rem;
}

.kr-dash-pan-action-btn-img-b {
  width: 32px;
  margin-bottom: 5px;
  filter: brightness(1) invert(1);
  opacity: 0.9;
}

.leftmenu-icon {
  width: 32px;
  margin-bottom: 5px;
  filter: brightness(1) invert(1);
  opacity: 0.9;
}

.base-timer {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
  color: #2bab3f;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  width: 60px;
  height: 60px;
  color: #2bab3f;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 30px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.order-line {
}

.btn-updown {
  background-color: #edebd5;
  border: none;
  width: 32px;
  color: black;
}

.incomeplus {
  margin-bottom: 20%;
  margin-top: 20%;
}

.incomeplus > p {
  text-align: center;
}

.dollarplus {
  color: green !important;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.percentplus {
  color: green !important;
  font-size: 20px;
  margin-left: 2%;
  font-weight: bold;
}

.majoritycmt {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.enterOrder {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 24px;
}

.processSuccessText {
  text-align: left;
  color: green;
  font-size: 16px;
}

.processDangerText {
  float: right;
  color: red;
  font-size: 16px;
}

.rightFunc {
  height: 670px;
  position: relative;
}

.countDownZone {
  margin-top: 5%;
  padding-bottom: 10px;
}

.table-text-instruction {
  display: none;
  color: #fff;
  text-align: right;
  padding-right: 15px;
  font-size: 13px;
  margin-bottom: 5px;
  font-style: italic;

  span {
    animation-duration: 0.7s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline-block;
  }

  @keyframes slide {
    from {
      transform: translateX(3px);
    }
  
    to {
      transform: translateX(8px);
    }
  }

  @media (max-width: 630px) {
    display: block;
  }
}


